@font-face {
  font-family: 'vilane';
  src: url(/Vilane-Font/Vilane\ Medium.ttf);
  /* src: url(/Vilane-Font/Vilane\ Bold.ttf); */
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 15px;
  color: #8b8e94;
  line-height: 24px;
  background: #E4E4E4;
  scroll-behavior: smooth;
  font-family: "vilane", sans-serif;
}

.menu-body {
    max-width: 680px;
    margin: 0 auto;
    display: block;
    color: rgb(92, 92, 92);
  }
  
  .menu-section {
    margin-bottom: 80px;
  }
  
  .menu-section-title {
    font-family: "vilane", sans-serif;
    font-size: 50px;
    display: block;
    font-weight:normal;
    margin: 20px 0; 
    text-align: Center;
  }
  
  .menu-item {
    margin: 35px 0;
    font-size: 18px;
  }
  
  .menu-item-name{
    font-family: "vilane", sans-serif;
    font-weight: bold;
    border-bottom: 2px dotted rgb(213, 213, 213);
  }
  
  .menu-item-description {
    font-family: "vilane", sans-serif;
    font-weight: lighter;
    /* font-style: italic; */
    font-size: .9em;
    line-height: 1.5em;
  }
  
  .menu-item-price{
    float: right;
    font-weight: bold;
    font-family: "vilane", sans-serif;
    margin-top: -22px;
  }
  
  